
name: CMEMS model workflow

on:
  # triggered on push to repo
  # push:
  #   branches: main
  # triggered by cron job
  schedule:
    # * is a special character in YAML so you have to quote this string
    # https://crontab.cronhub.io
    - cron:  '30 15 * * *'  #scheduled to run at 3:30 pm UTC every day
  # triggered by manual activation on GitHub repo website
  workflow_dispatch:

jobs:
  download_cmems:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Check out repository
      uses: actions/checkout@v5
      with:
        sparse-checkout: |
          metadata/
          data_acquisition/R/
          data_acquisition/netcdfs/cmems_ncdfs/cmems_mod_glo_phy_anfc_0.083deg_P1D-m_mlotst_2025-06-23.nc
        sparse-checkout-cone-mode: false # Set to false for more granular control
    
    # - name: Print dir tree
    #   run: tree

    - name: Install Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        channels: conda-forge,defaults
        python-version: 3.12

    # - name: Check disk space
    #   run: |
    #     df -h

    - name: Install Copernicus Marine Toolbox
      shell: bash -el {0}
      run: |
        conda install -c conda-forge copernicusmarine
        conda install scipy

    - name: Install R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.4.3'

    - name: Install R packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache: always

    - name: Download CMEMS data
      env:
        COPERNICUSMARINE_SERVICE_USERNAME: ${{ secrets.COPERNICUSMARINE_SERVICE_USERNAME }}
        COPERNICUSMARINE_SERVICE_PASSWORD: ${{ secrets.COPERNICUSMARINE_SERVICE_PASSWORD }}
      shell: Rscript {0}
      run: |
        source("data_acquisition/R/acquire_cmems.R")
      working-directory: ${{ github.workspace }}
    
    - name: Create artifact to share data with next job
      uses: actions/upload-artifact@v4
      with:
        name: raw_cmems
        path: data_acquisition/netcdfs/cmems_ncdfs/
        retention-days: 1

    - name: Commit and Push Changes
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

        # git fetch origin gh-pages --depth=1
        # git pull
        git add --sparse .
        git commit -m 'Added new CMEMS files'
        git push

  process_cmems:
    runs-on: ubuntu-latest
    needs: download_cmems
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Check out repository
      uses: actions/checkout@v5
      with:
        sparse-checkout: |
          metadata/
          data_processing/R/
          data_acquisition/netcdfs/cmems_ncdfs/cmems_mod_glo_phy_anfc_0.083deg_P1D-m_mlotst_2025-06-23.nc
          data_processing/TopPredatorWatch/rasters/sst_2025-08-31.tiff
          data_processing/TopPredatorWatch/static/
        sparse-checkout-cone-mode: false # Set to false for more granular control

    - name: Download artifact w raw CMEMS files
      uses: actions/download-artifact@v5
      with:
        name: raw_cmems
        path: data_acquisition/netcdfs/cmems_ncdfs/
    
    - name: Print dir tree
      run: tree
    
    - name: Install R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.4.3'

    - name: Install R packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache: always

    - name: Process CMEMS netCDFs and created derived vars
      shell: Rscript {0}
      run: |
        source("data_processing/R/process_cmems.R")
      working-directory: ${{ github.workspace }}
    
    - name: Create artifact to share data with next job
      uses: actions/upload-artifact@v4
      with:
        name: processed_cmems
        path: data_processing/TopPredatorWatch/rasters/
        retention-days: 1

    - name: Commit and Push Changes
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

        # git fetch origin gh-pages --depth=1
        # git pull
        
        git add --sparse .
        git commit -m 'Processed CMEMS files'
        git push

  predict_TopPred:
    runs-on: ubuntu-latest
    needs: process_cmems
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Check out repository
      uses: actions/checkout@v5
      with:
        sparse-checkout: |
          metadata/
          model_prediction/R/
          data_processing/TopPredatorWatch/rasters/sst_2025-08-31.tiff
          model_prediction/TopPredatorWatch/
        sparse-checkout-cone-mode: true  # Set to false for more granular control

    # - name: Pull in Latest Changes
    #   run: |
    #     git config --global user.name "${{ github.actor }}"
    #     git config --global user.email "${{ github.actor }}@users.noreply.github.com"
    # 
    #     git pull

    # - name: List all files in directory
    #   run: |
    #     tree
    
    - name: Download artifact w processed CMEMS files
      uses: actions/download-artifact@v5
      with:
        name: processed_cmems
        path: data_processing/TopPredatorWatch/rasters/
    
    - name: Print dir tree
      run: tree

    - name: Install R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.4.3'

    - name: Install R packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache: always
        extra-packages:
          ropensci/rnaturalearthhires

    # - name: Install rnaturalearthhires R package from GitHub
    #   shell: Rscript {0}
    #   run: |
    #     install.packages("remotes")
    #     remotes::install_github("ropensci/rnaturalearthhires")

    - name: Make predictions for Top Predator Watch
      shell: Rscript {0}
      run: |
        source("model_prediction/R/predict_TopPredatorWatch.R")
      working-directory: ${{ github.workspace }}

    - name: Commit and Push Changes
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

        # git fetch origin gh-pages --depth=1
        # git pull
        
        git add --sparse .
        git commit -m 'Made predictions for Top Predator Watch'
        git push

