
name: Update Website

on:
  # triggered by previous GHA completion in workflow
  workflow_run:
    workflows: ["CMEMS model workflow","ROMS model workflow"]
    types:
      - completed
  # triggered by manual activation on GitHub repo website
  workflow_dispatch:

jobs:
  update-website:
    runs-on: windows-latest
    permissions:
      contents: write
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        sparse-checkout: |
          metadata/
          website/
        sparse-checkout-cone-mode: true  # Set to false for more granular control

    - name: Install Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: 3.11

    # - name: Check disk space
    #   run: DiskUsage C:\ /h

    - name: Install Copernicus Marine Toolbox
      shell: bash -el {0}
      run: |
        conda install -c conda-forge copernicusmarine
        # where copernicusmarine
        conda install scipy

    - name: Set up Quarto
      uses: quarto-dev/quarto-actions/setup@v2
      with:
        version: 1.9.9

    - name: Install R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.4.3'

    - name: Install R packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache-version: 4

    # - name: Render and Publish
    #   uses: quarto-dev/quarto-actions/publish@v2
    #   with:
    #     target: gh-pages
    #     path: website
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Render and Publish
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

        # git fetch origin gh-pages --depth=1
        
        #Quickly fetches remote changes and reapplies local commit on top of it
        git pull --rebase
        quarto publish gh-pages website --no-browser