
name: Update Website

on:
  # triggered by previous GHA completion in workflow
  workflow_run:
    workflows: ["CMEMS model workflow","ROMS model workflow"]
    types:
      - completed
  # triggered by manual activation on GitHub repo website
  workflow_dispatch:

jobs:
  update-website:
    runs-on: windows-latest
    permissions:
      contents: read # Change to read only
      pages: write # Add pages permission
      id-token: write # Add id-token for OIDC
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      QUARTO_BUILD_DIR: website/docs
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        sparse-checkout: |
          metadata/
          website/
        sparse-checkout-cone-mode: true  # Set to false for more granular control

    - name: Install Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: 3.11

    # - name: Check disk space
    #   run: DiskUsage C:\ /h

    - name: Install Copernicus Marine Toolbox
      shell: bash -el {0}
      run: |
        conda install -c conda-forge copernicusmarine
        # where copernicusmarine
        conda install scipy

    - name: Set up Quarto
      uses: quarto-dev/quarto-actions/setup@v2
      with:
        version: 1.9.9

    - name: Install R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.4.3'

    - name: Install R packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache-version: 4

    # - name: Render and Publish
    #   uses: quarto-dev/quarto-actions/publish@v2
    #   with:
    #     target: gh-pages
    #     path: website
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Render Quarto Website
      run: quarto render website  #renders docs from dir named 'website'
      
    - name: Deploy to gh-pages branch
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ${{ env.QUARTO_BUILD_DIR }} # This is the output folder (website/docs)
        publish_branch: gh-pages # Explicitly target the gh-pages branch
        user_name: '${{ github.actor }}'
        user_email: '${{ github.actor }}@users.noreply.github.com'