
name: Update Website

on:
  # triggered by previous GHA completion in workflow
  workflow_run:
    workflows: ["Predict from Top Predator Watch"]
    types:
      - completed
  # triggered on push to repo
  # push:
  #   branches: main
  # triggered by cron job
  # schedule:
  #   # * is a special character in YAML so you have to quote this string
  #   # https://crontab.cronhub.io
  #   - cron:  '30 15 * * *'  #scheduled to run at 3:30 pm UTC every day
  # triggered by manual activation on GitHub repo website
  workflow_dispatch:

jobs:
  update-website:
    runs-on: ubuntu-latest
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    
    - name: Set up Quarto
      uses: quarto-dev/quarto-actions/setup@v2

    - name: Install R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.4.2'

    - name: Install R packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache-version: 4

    - name: Render and Publish
      uses: quarto-dev/quarto-actions/publish@v2
      with:
        target: gh-pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}